.cart {
    padding-top: 30px;
}

.cart-member {
    padding-bottom: 30px;

    @include breakpoint(large) {
        padding-top: 20px;
    }


    .cart-member-img {
        position: relative;

        img {
            position: absolute;
            bottom: 0;

            @include breakpoint(large) {
                right: 1vw;
                max-width: 13vw;
            }
        }
    }

    .cart-member-info {
        padding-top: 25px;

        .cart-member-name {
            font-size: 6.1vw;

            @include breakpoint(large) {
                font-size: 3.1vw;
            }
        }

        .cart-member-menus {
            @include breakpoint(large) {
                font-size: 1.5vw;
            }
        }
    }

    .cart-member-price {
        font-size: 30px;
        padding-top: 45px;
    }
}

.cart-member-menus {
    float: right;
    width: 100%;
    padding-bottom: 3px;

    .dropdown-menu {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;

            span {
                padding-right: 2px;
            }

            .arrow {
                max-width: 3vw;
                padding-bottom: 4px;
                margin-left: 2px;

                @include breakpoint(large) {
                    max-width: 1vw;
                }
            }

            .sub-menu {
                display: none;
                margin: 0;
                list-style: none;
                position: absolute;
                left: -2px;
                background: white;
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);

                li {
                    padding: 4px 0;

                    span {
                        padding: 3vw;
                        line-height: 20px;

                        @include breakpoint(large) {
                            padding: 1vw;
                            line-height: 10px;
                        }
                    }
                }
            }

            .quantity-menu {
                position: absolute;
                left: 18vw;
                width: 8vw;

                @include breakpoint(large) {
                    left: 5.7vw;
                    width: 3vw;
                }


                li {
                    width: 8vw;
                }

                .quantity-minus {
                    margin-left: 3px;
                }

                .quantity-plus {
                    margin-left: 2px;
                }
            }
        }

        .size-0 {
            .arrow {
                margin-right: 8px;
            }
        }
    }
}

.cart-index {
    display: none;
}

.cart-member-price {
    .mobile-price {
        @include breakpoint(large) {
            display: none;
        }
    }

    .desktop-price {
        @include breakpoint(medium down) {
            display: none;
        }
    }
}

#shipping-info {
    form {
        label {
            font-size: 18px;

            @include breakpoint(large) {
                font-size: 19px;
            }
        }

        #local-box {
            padding-top: 8px;

            input {
                width: 18px;
                height: 18px;
            }
        }
    }

    span {
        font-size: 19px;
    }

    #cart-shipping {
        float: right;
    }
}

#subtotal {
    position: relative;
    padding: 20px 0;

    span {
        font-size: 30px;
        position: absolute;
        top: 7.8vw;
        right: 3vw;

        @include breakpoint(large) {
            font-size: 3vw;
            top: 2.3vw;
            right: 2vw;
        }
    }

    a {
        //@include test-link;

        position: absolute;
        width: 45vw;
        height: 10vw;
        right: 6vw;
        bottom: 8vw;

        @include breakpoint(large) {
            width: 17vw;
            height: 4vw;
            right: 2.3vw;
            bottom: 2.5vw;
        }
    }
}

#shopping-button {
    text-align: center;
    padding: 20px 0;
}
