.icons {
    padding: 50px 30px 0px 30px;
    position: relative;

    @include breakpoint(large) {
        padding-top: 30px;
    }

    div {
        #hamburg {
            @include breakpoint(large) {
                display: none;
            }
        }

        #title {
            @include breakpoint(large) {
                max-width: 250px;
            }
        }

        #cart {
            @include breakpoint(large) {
                max-width: 50px;
                position: absolute;
                right: 50px;
            }
        }
    }
}