
@mixin update-background($img){
    background: url($img) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#landing-mobile {
    @include breakpoint(large) {
        display: none;
    }

    margin-top: 13vh;
    div {
        padding-bottom: 2vh;
    }
}

#landing-desktop {
    @include breakpoint(medium down){
        display: none;
    }

    width: 50%;
    height: 50%;
    position: absolute;

    a {
        position: absolute;
        width: 21em;
        height: 20vh;
    }

    a:hover {
        cursor: pointer;
    }

    #store {
        bottom: 10em;
        right: -1em;
    }

    #store:hover {
        @include update-background("../img/landing/landing-store.png");
    }

    #info {
        bottom: -9.5em;
        right: -3em;
        width: 20em;
    }

    #info:hover {
        @include update-background("../img/landing/landing-info.png");
    }

    #extras {
        height: 19vh;
        width: 22em;
        bottom: 2em;
        right: -24em;
    }

    #extras:hover {
        @include update-background("../img/landing/landing-extras.png");
    }
}

@include breakpoint(large) {
    .landing-background {
        @include update-background("../img/landing/landing-page.png");
    }
}