@mixin test-link(){
    background-color: aqua;
    opacity: .5;
}

body {
    overflow-x: hidden;
}

.fullHeight {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.align-center {
    @include flex-align($x: center);
}

.align-spaced{
    @include flex-align($x: spaced);
}