{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js fullHeight" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <title>All Mankind</title>
    <link rel="icon" href="../assets/img/icons/pighead.png">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:700|Pragati+Narrow:700" rel="stylesheet">
</head>

<body class="fullHeight">

    <div class="wrapper">
        <div class="icons grid-x grid-margin-x align-center">
            <div class="cell small-2">
                <img id="hamburg" src="../assets/img/icons/ham1.png">
            </div>
            <div class="cell small-8 large-shrink">
                <img id="title" src="../assets/img/icons/titleBubble.png">
            </div>
            <div class="cell small-2">
                <img id="cart" src="../assets/img/icons/cartnobubble.png">
            </div>
        </div>

        <div class="grid-x grid-margin-x align-center">
            <div class="menu cell small-10" style="display: none">
                <img src="../assets/img/icons/linksbubble.png">
                <a id="store" href="{{root}}shop.html"></a>
                <a id="extras" href="{{root}}extras.html"></a>
                <a id="info" href="shop.html"></a>
                <a id="contact" href="shop.html"></a>
                <a id="lookbook" href="shop.html"></a>
                <a id="x" href="#"></a>
            </div>
        </div>

        <div class="navbar grid-x align-center">
            <div class="cell large-shrink">
                <a id="navShop" href="{{root}}shop.html" style="color:#1779ba">SHOP</a>
            </div>
            <div class="cell large-shrink">
                <a id="navInfo" href="#">INFO</a>
            </div>
            <div class="cell large-shrink">
                <a id="navExtras" href="{{root}}extras.html">EXTRAS</a>
            </div>
            <div class="cell large-shrink">
                <a id="navLook" href="#">LOOKBOOK</a>
            </div>
            <div class="cell large-shrink">
                <a id="navContact" href="#">CONTACT</a>
            </div>
        </div>

        {{> body}}

        <div class="background">
            <img id="storePig" src="../assets/img/store/pig4store.png">
            <img id="storeSnake" src="../assets/img/store/snakeandbubble.png">
            <a id="linkSnake" href="https://www.instagram.com/allmankindisstupid/" target="_blank"></a>
        </div>
    </div>
    <script src="../assets/js/app.js"></script>
</body>

</html>