{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js fullHeight" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <title>All Mankind</title>
    <link rel="icon" href="{{root}}assets/img/icons/pigHead.png">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:700|Pragati+Narrow:700" rel="stylesheet">
</head>

<body class="fullHeight">

    <div class="wrapper">
        <div class="icons grid-x grid-margin-x align-center">
            <div class="cell small-2">
                <img id="hamburger-closed" src="{{root}}assets/img/icons/ham-closed.png">
                <img id="hamburger-open" src="{{root}}assets/img/icons/ham-open.png">
            </div>
            <div class="cell small-8 large-shrink">
                <a id="title" href="{{root}}index.html">
                    <img id="title-img" src="{{root}}assets/img/icons/titleBubble.png">
                </a>
            </div>
            <div class="cell small-2">
                <span class="cart-num">10</span>
                <a id="cart" href="{{root}}cart.html">
                    <img id="cart-img" src="{{root}}assets/img/icons/cartnobubble.png">
                </a>
            </div>
        </div>

        <div class="grid-x grid-margin-x align-center">
            <div class="hamburger cell small-10" style="display: none">
                <img src="{{root}}assets/img/icons/linksbubble.png">
                <a id="store" href="{{root}}store.html"></a>
                <a id="extras" href="{{root}}extras.html"></a>
                <a id="info" href="{{root}}shop.html"></a>
                <a id="contact" href="{{root}}contact.html"></a>
                <a id="lookbook" href="{{root}}lookbook.html"></a>
                <a id="exit" href="#"></a>
            </div>
        </div>

        <div class="navbar grid-x align-center">
            <div class="cell large-shrink">
                <a id="navStore" href="{{root}}store.html">STORE</a>
            </div>
            <div class="cell large-shrink">
                <a id="navInfo" href="{{root}}info.html">INFO</a>
            </div>
            <div class="cell large-shrink">
                <a id="navExtras" href="{{root}}extras.html">EXTRAS</a>
            </div>
            <div class="cell large-shrink">
                <a id="navLook" href="{{root}}lookbook.html">LOOKBOOK</a>
            </div>
            <div class="cell large-shrink">
                <a id="navContact" href="{{root}}contact.html">CONTACT</a>
            </div>
        </div>

        {{> body}}

        <div class="background">
            <img id="store-pig" src="{{root}}assets/img/store/pig4store.png">
            <a id="link-snake" href="https://www.instagram.com/allmankindisstupid/" target="_blank"></a>
            <img id="snake-secondary" src="{{root}}assets/img/store/snakeandbubble2.png">
            <img id="snake-primary" src="{{root}}assets/img/store/snakeandbubble.png">
        </div>
    </div>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>